body {
    font-family: Arial, sans-serif;
    background-color: #eaeaea;
    margin: 0;
    padding: 0;
}

.windows-container {
    display: flex;
    flex-direction: row;
}

.window {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
}

.window h1 {
    font-size: 55px;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

.window p {
    font-size: 32px;
    color: #555;
}

.lunch-list {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}

.lunch-list .lunch-element-title {
    font-size: 27px;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

.lunch-list .lunch-element {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 5px 0;

}

.lunch-list .lunch-element-list {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    text-align: left;
    background-color: #fff;
    padding: 5px;
    margin: 5px 0;
    font-size: 25px;
    
}

.absent-teachers {
    padding: 0;
}

.absent-teachers ul {
    list-style-type: none;
    padding: 0;
}

.absent-teachers li {
    font-size: 25px;
    color: #333;
    margin-bottom: 10px;
}

.absent-teachers li::before {
    content: "❌ ";
    color: red;
}

.footer {
    background-color: #f1f1f1;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    color: #333;
    margin: 0;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}

.footer #date {
    position: relative;
    font-size: 50px;
    color: #555;
    left: 0;
    margin: 20px;
}

.footer #time {
    position: relative;
    font-size: 50px;
    color: #555;
    right: 20px;
    margin: 20px;
}